.item {
	color: black;
	border-radius: 15px;
	width: 95%;
	cursor: pointer;
	:hover {
		background-color: #eaf0ff;
		border-radius: 5px;
	}

	.faIcon {
		padding: 0px 10px 0px;
		color: #e5e5e5;
	}

	p {
		text-decoration: none;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: padding-left 200ms ease-in-out;
	}

	.bar {
		width: 0px;
	}
}
.selected {
	color: black;
	border-radius: 15px;
	width: 95%;
	background-color: #eaf0ff;
	border-radius: 5px;

	.faIcon {
		padding: 0px 10px 0px;
		color: #263b90;
	}

	p {
		text-decoration: none;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		transition: padding-left 200ms ease-in-out;
	}

	.bar {
		width: 5px;
		height: 42px;
		background-color: #263b90;
		border-radius: 15px;
		display: block;
		position: absolute;
		transition: width 200ms ease-in-out;
	}
}
