.header {
  padding: 5px;
  margin: 10px;
  display: flex;
  width: 99%;
  justify-content: flex-end;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 15px;
  justify-content: space-around;
  }