.header {
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.header-logo {
		width: 90px;
		height: 45px;
		display: flex;
		margin-left: calc(20% * 0.15);
	}

	:nth-child(2) {
		width: auto;
		background-color: #ccc;
	}
	:nth-child(3) {
		background-color: #ccc;
	}
}
