.sidebar-container {
	width: 20%;
	//max-width: 350px;
	min-width: 220px;
	height: calc(100vh - 91px);
	border-right: 1px solid #e0e0e0;
	// &.sm {
	// 	width: 220px;
	// }
	// &.lg {
	// 	width: 350px;
	// }

	.toggle-button {
		position: relative;
		float: right;
		top: 20px;
		right: -20px;
		z-index: 1;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		border: 1px solid #ccc;
		outline: none;
		background-color: #fff;
		transition-duration: 200ms;
		opacity: 0%;

		.chevron {
			position: relative;
			border: solid black;
			border-radius: 2px;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 3px;

			&.left {
				transform: rotate(135deg);
				transition: transform 200ms ease-in-out;
			}

			&.right {
				transform: rotate(-45deg);
				transition: transform 200ms ease-in-out;
			}
		}

		&:hover {
			cursor: pointer;
			background-color: #263b90;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

			.chevron {
				border: solid white;
				border-width: 0 3px 3px 0;
			}
		}
	}

	.sidebar-menu-items {
		opacity: 100%;
		padding-left: 15%;
		text-align: left;
	}

	&:hover {
		.toggle-button {
			opacity: 100%;
			transition: opacity 200ms ease-in-out;
		}
	}

	&.open {
		transition: left 200ms ease-in-out;
	}

	&.closed {
		.toggle-button {
			opacity: 100%;
			transition: opacity 200ms ease-in-out;
		}
		&.sm {
			left: -170px;
		}
		// &.lg {
		// 	left: -250px;
		// }
		position: absolute;
		left: -16%;
		transition: left 200ms ease-in-out;
	}
}
