.sidebar-container {
	height: calc(100vh - 94px);
	border-right: 1px solid #e0e0e0;

	.toggle-button {
		margin-left: -40px;
		position: relative;
		float: right;
		top: 20px;
		right: -20px;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		border: 1px solid #ccc;
		outline: none;
		background-color: #fff;
		transition: opacity 200ms ease-in-out;
		opacity: 0%;

		.chevron {
			position: relative;
			border: solid black;
			border-radius: 2px;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 3px;
			margin: 15;

			&.left {
				transform: rotate(135deg);
			}

			&.right {
				transform: rotate(-45deg);
			}
		}

		&:hover {
			cursor: pointer;
			background-color: #263b90;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

			.chevron {
				border: solid white;
				border-width: 0 3px 3px 0;
			}
		}
	}

	.sidebar-menu-items {
		opacity: 100%;
		padding-left: 30px;
		text-align: left;
		transition: padding-left 200ms ease-in-out;
	}

	&:hover {
		.toggle-button {
			opacity: 100%;
		}
	}

	&.open {
		//min-width: 220px;
		width: 298px;
		transition: width 200ms ease-in-out;
	}

	&.closed {
		.toggle-button {
			opacity: 100%;
		}

		.sidebar-menu-items {
			padding-left: 0;
			transition: padding-left 200ms ease-in-out;
		}
		margin-right: 0px;
		width: 55px;
		transition: width 200ms ease-in-out;
	}
}
